<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Detalle Repositorio Consultas - Tablas {{nombre| titlecase}}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/inicio/0">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/inicio/0">Inicio</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/repoconsulta/tabla/lista">Repositorio Consultas - Tablas</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="wizard-container wizard-round col-md-9">



            <div class="wizard-body">
                <div class="row">

                    <div class="col-md-6">
                      
                        <div class="form-group">
                            <ul class="list-group">
                                <li [ngClass]='tituloDetalle' aria-current="true">Identificador</li>
                                <li *ngIf="identificador != '' " class="list-group-item">{{identificador}}</li>
                                <li *ngIf="identificador == '' " class="list-group-item">No registra datos</li>
                                <li *ngIf="identificador == 'null' " class="list-group-item">No registra datos</li>

                            </ul>

                        </div>
                        <div class="form-group">
                            <ul class="list-group">
                                <li [ngClass]='tituloDetalle' aria-current="true">Nombre</li>
                                <li *ngIf="nombre != '' " class="list-group-item">{{nombre}}</li>
                                <li *ngIf="nombre == '' " class="list-group-item">No registra datos</li>
                                <li *ngIf="nombre == 'null' " class="list-group-item">No registra datos</li>

                            </ul>
                        </div>

                    </div>
                        <div class="col-md-6">
                        <div class="form-group">
                            <ul class="list-group">
                                <li [ngClass]='tituloDetalle' aria-current="true">Esquema</li>
                                <li *ngIf="repositorioEsquema != '' " class="list-group-item">{{repositorioEsquema}}</li>
                                <li *ngIf="repositorioEsquema == '' " class="list-group-item">No registra datos</li>
                                <li *ngIf="repositorioEsquema == 'null' " class="list-group-item">No registra datos</li>

                            </ul>
                        </div>

                        </div>

                   </div>

               </div>
            </div>


        </div>
    </div>

