<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Detalle Concepto Negocio{{nombreConceptonegocio | titlecase}}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Inicio</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/conceptonegocio/lista">Concepto Negocio </a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="wizard-container wizard-round col-md-9">
 
           

                <div class="wizard-body">
                    <div class="row">

                        <div class="col-md-6">
                            <!-- ingresar nombres -->
                            <div class="form-group" >
                                <ul class="list-group">
                                    <li [ngClass]='estiloDetalle' aria-current="true">Nombre</li>
                                    <li *ngIf="nombreConceptonegocio != '' " class="list-group-item">{{nombreConceptonegocio}}</li>
                                    <li *ngIf="nombreConceptonegocio == '' " class="list-group-item">No registra datos</li>
                                    <li *ngIf="nombreConceptonegocio == 'null' " class="list-group-item">No registra datos</li>
                                                                   
                                  </ul>
                            </div>
                            <!-- nombre del usuario de red -->
                            <div class="form-group">
                                <ul class="list-group">
                                    <li [ngClass]='estiloDetalle'w aria-current="true">Uso</li>
                                    <li *ngIf="uso != '' "class="list-group-item">{{uso}}</li>
                                    <li *ngIf="uso == '' " class="list-group-item">No registra datos</li>
                                    <li *ngIf="uso == 'null' " class="list-group-item">No registra datos</li>
                                                                   
                                  </ul>

                            </div>
                         

                       


                            
                        </div>


                        <div class="col-md-6">
                            <!-- ingresar apellido -->
                            <div class="form-group">
                                <ul class="list-group">
                                    <li [ngClass]='estiloDetalle' aria-current="true">Definición</li>
                                    <li  *ngIf="definiCN != '' "class="list-group-item">{{definiCN}}</li>
                                    <li *ngIf="definiCN == '' " class="list-group-item">No registra datos</li>
                                    <li *ngIf="definiCN == 'null' " class="list-group-item">No registra datos</li>
                                                                   
                                  </ul>
                            </div>

                            <!-- ingresar email -->
                            <div class="form-group">
                                <ul class="list-group">
                                    <li [ngClass]='estiloDetalle' aria-current="true">Calculo</li>
                                    <li  *ngIf="calculo != '' "class="list-group-item">{{calculo}}</li>
                                    <li *ngIf="calculo == '' " class="list-group-item">No registra datos</li>
                                    <li *ngIf="calculo == 'null' " class="list-group-item">No registra datos</li>
                                                                   
                                  </ul>
                            </div>

                            


                    </div>
                </div>



           
        </div>
    </div>
</div>
    