<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">{{ tituloPage }}</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Inicio</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="compania/lista">Compania</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a *ngIf="indicador == '1' " href="compania/detalle/{{ this.idCompania }}">Dominios</a>
                <a *ngIf="indicador == '2' " href="compania/detalle/{{ this.idCompaniaTemp }}">Dominios</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a *ngIf="indicador == '1' " href="dominio/detalle/{{ this.idCompania }}/{{ this.idDominio }}">SubDominios</a>
                <a *ngIf="indicador == '2' " href="dominio/detalle/{{ this.idCompaniaTemp }}/{{ this.idDominioTemp }}">SubDominios</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="wizard-container wizard-round col-md-9">
            <form [formGroup]="subdominioCompania" (ngSubmit)="crearSubDominio()">
                <div class="wizard-body">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [class.has-error]="nombreNoValid"
                            [class.has-success]="nombreValid">
                                <label for="name">Nombre SubDominio
                                    <span class="required-label">*</span>
                                    </label>
                                <input type="text" class="form-control" placeholder="Escribe el nombre del SubDominio..." id="nombre" name="nombre" formControlName="nombre">
                            </div>
                            <div class="form-group" [class.has-error]="propietarioNoValid"
                            [class.has-success]="propietarioValid">
                                <label for="name">Propietario
                                    <span class="required-label">*</span>
                                    </label>
                                <input type="text" class="form-control" placeholder="Escribe el nombre del SubDominio..." id="propietario" name="propietario" formControlName="propietario">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wizard-action">
                    <div class="pull-right">
                        <button type="submit" [ngClass]='botonGuardar'>
                            <i class="fas fa-save "></i> Guardar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>