<div class="page-inner">
    <div class="page-header">
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Inicio</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="compania/lista">Compania</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="compania/detalle/{{ this.idCompania }}">Dominios</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-10">
            <!-- lista de usuarios -->
            <section class="card mt-4">
                <div class="card-header">
                    <div class="card-header">
                        <h4 class="page-title">DOMINIO: {{ this.tituloDominio }}</h4>
                        <h4 class="page-title">SUBDOMINIOS</h4>
                        <div class="d-flex justify-content-between">
                            <div class="d-md-inline-block">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white">
                                            <i class="fa fa-search search-icon"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" name="filterGeneral" placeholder="Buscar subdominio..." [(ngModel)]="filterGeneral">
                                </div>
                            </div>
                            <button [disabled]="!permisoCrear" [ngClass]='estiloBotonNuevo' routerLink="/subdominio/crear/1/{{ idCompania }}/{{ idDominio }}">
                                <i class="fas fa-user-plus"></i> Nuevo SubDominio
                            </button>
                        </div>

                        <div class="list-group list-group-messages list-group-flush">
                            <section class="card mt-4">

                                <div class="list-group list-group-messages list-group-flush" style="overflow-x:auto;">

                                    <table class="table mt-3 table-hover ">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Propietario</th>
                                                <th scope="col">Operación</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let datos of listSubDomin | nombresubdom:filterGeneral | generalsubdom:filterGeneral | paginate: { itemsPerPage: 5, currentPage: pageActual }; let i=index ">
                                                <td>{{ i + 1 }}</td>
                                                <td>{{ datos.nombre }}</td>
                                                <td>{{ datos.propietario }}</td>
                                                <td>
                                                    <div class="input-group-append">
                                                        <button [ngClass]='botonAccion' type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Acciones
                                                            </button>
                                                        <div class="dropdown-menu">
                                                            <!--<a class="dropdown-item" [routerLink]="[ '/detalledominio', datos._id ]"><i class="fas fa-user-cog"></i> Detalle </a>-->
                                                            <a [ngClass]="{'disabled': !permisoEditar}" class="dropdown-item" [routerLink]="[ '/subdominio/editar/2/', datos._id ]"><i class="fas fa-user-edit"></i> Editar</a>
                                                            <div role="separator" class="dropdown-divider"></div>
                                                            <a [ngClass]="{'disabled': !permisoEliminar}" style="cursor: pointer;" class="dropdown-item" (click)="eliminarDominio(datos._id, i)"><i class="fas fa-trash-alt"></i> Eliminar</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                 <!-- alert para mostrar cuando no hay registros -->
                <div *ngIf="!cargando && listSubDomin.length <= 0" class="alert alert-warning" role="alert">
                    <h4 class="alert-heading text-bold">No hay registros!</h4>
                    <i class="fas fa-exclamation-triangle fa-3x"></i>
                </div>

                <!-- alert para mostrar cuando esta cargando los registros del API  -->
                <div *ngIf="cargando" class="alert alert-info" role="alert">
                    <h4 class="alert-heading text-bold">Cargando!</h4>
                    <i class="fas fa-circle-notch fa-spin fa-3x"></i>
                    <p class="mb-0">Por favor espere un momento...</p>
                </div>

                            </section>
                            <pagination-controls  [ngClass]='colorPaginador' (pageChange)="pageActual = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <hr>
    </div>
</div>